---
Checks: "-*, \
  modernize-*, \
  -modernize-avoid-c-arrays, \
  -modernize-pass-by-value, \
  -modernize-use-trailing-return-type, \
  performance-faster-string-find, \
  performance-for-range-copy, \
  performance-inefficient-string-concatenation, \
  performance-trivially-destructible, \
  readability-*, \
  -readability-magic-numbers, \
  -readability-convert-member-functions-to-static, \
  -readability-isolate-declaration, \
  -readability-implicit-bool-conversion, \
  -readability-else-after-return, \
  -readability-braces-around-statements, \
  -readability-named-parameter, \
  -readability-identifier-length, \
  -readability-qualified-auto, \
  -readability-function-cognitive-complexity"

CheckOptions:
- key: modernize-use-override.IgnoreDestructors
  value: true

FormatStyle: file
HeaderFilterRegex: 'include/.*.hh'
