---
Checks: "-*, \
  modernize-*, \
  -modernize-avoid-c-arrays, \
  -modernize-pass-by-value, \
  -modernize-use-trailing-return-type, \
  performance-faster-string-find, \
  performance-for-range-copy, \
  performance-inefficient-string-concatenation, \
  performance-trivially-destructible, \
  readability-delete-null-pointer, \
  readability-duplicate-include, \
  readability-string-compare"

CheckOptions:
- key: modernize-use-override.IgnoreDestructors
  value: true

FormatStyle: file
HeaderFilterRegex: 'include/.*.hh'
