/include/ProjectInfo.hh
/docs/Doxyfile
/docs/source/conf.py
/docs/source/_build
build
.local

# G4 outputs
*.root
*.hdf5

# G4 visualization
bookmarkFile
*.pdf
*.iv

compile_commands.json

# junk
*.DS_Store
*.swp
*.swo
