/include/ProjectInfo.hh
/docs/Doxyfile
/docs/conf.py
/docs/_build
/docs/_doxygen
/docs/api
/docs/extra
build
.local

# G4 outputs
*.root
*.hdf5

# G4 visualization
bookmarkFile
*.pdf
*.iv

compile_commands.json

# junk
*.DS_Store
*.swp
*.swo
.mypy_cache
__pycache__
