name: CI

on:
  push:
    branches:
      - main
      - 'releases/**'
    paths-ignore:
      - '**.md'
  pull_request:
  release:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  test_on_linux:
    name: Test on Linux containers (Ubuntu LTS)
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        container_version:
        - G4.11.3
        - G4.11.2
        - G4.11.1
        - G4.11.0
        - slim

    container: docker://gipert/remage-base:${{ matrix.container_version }}

    steps:
    - uses: actions/checkout@v4
    - name: Build project
      run: |
        mkdir build
        cd build
        cmake -DRMG_BUILD_EXAMPLES=1 ..
        make
        make install
    - name: Run full test suite
      if: ${{ matrix.container_version != 'slim' }}
      run: |
        cd build
        ctest --output-on-failure --label-exclude 'vis'
    - name: Run minimal test suite
      if: ${{ matrix.container_version == 'slim' }}
      run: |
        cd build
        ctest --output-on-failure --label-exclude 'extra|vis'
    - name: Compare checked-in doc dump with current result
      if: ${{ matrix.container_version != 'slim' }}
      run: |
        cd build
        cp ../docs/rmg-commands.md ../docs/rmg-commands.md.bak
        make remage-doc-dump
        diff ../docs/rmg-commands.md ../docs/rmg-commands.md.bak

# vim: expandtab tabstop=2 shiftwidth=2
